@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 10px;
    padding: 0;
}

body {
    text-align: center;
    background-color: black;
    font-family: "Poppins", sans-serif;
}

h1 {
    color: white;
    font-size: 40px;
}

table {
    margin: auto;
}

th {
    color: white;
}

input {
    font-size: 20px;
    padding: 5px;
    border-radius: 5px;
}

button {
    min-width: 120px;
    margin: 30px 10px;
    padding: 10px;
    font-size: 20px;
    border-radius: 5px;
    font-weight: 600;
}

.countdown {
    display: flex;
    justify-content: center;
}

.heading {
    color: white;
    font-size: 20px;
    font-family: "Poppins", sans-serif;
}

.time {
    background-color: rgb(27, 24, 24);
    color: white;
    font-size: 100px;
    width: 150px;
    margin: 10px 20px;

}